.app-layout-sidebar {
  min-height: 100vh;
  width: 100%;
  display: flex;
  .app-sidebar {
    width: 230px;
    min-height: 100vh;
    flex-shrink: 0;
    padding: 20px;
    background-color: rgb(34, 62, 98);
    &,
    a {
      color: #fff;
    }

    .app-sidebar-main-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        margin: 0;
      }
    }
  }
  .app-main-content {
    display: block;
    overflow: auto;
  }
}


.app-loading{
  height: 100vh;
  width: 100%;
}